
a.navbar-brand {
    color: #ffffff;
    font-weight: 200;
  }
    /*deep cyan*/
  a.navbar-brand:hover {
    color: #00bcd4;
    font-weight: 200;
  }


a.nav-link {
    color: #ffffff;
  }

  /*deep orange*/
a.nav-link:hover {
    color: #ff5722;
  }
